body {
    font-family: "Athelas";
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

.acoes {
    width: 150px;
}
.acoes > a {
    color: dodgerblue;
    display: block;
    margin-top:10px;
}

.acoes > a:hover {
    color: #000;
}
